<!doctype html>
<html lang="en">
        <% include partials/header.ejs %>
<body>
        <div id="root"> 
            <div class="app">
                <% include partials/menu.ejs %>
               
                <!--- INICIO DO CONTEUDO DA PAGINA -->
                <main class="content container-fluid">
                        <% if (message != '') { %>
                            <p class="text-center text-danger"><%= message %></p>
                        
                            <% } %>
                        <div class="p-3 mt-3">

                           <!-- FORMULARIO PARA ADD CLIENTES -->
                           <form class="form_cadastro_edicao" id="form_cliente" action="<%=action%>" method="post" onsubmit="return enviarFormulario()">
                            <div class="form">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Nome</label>
                                            <% if(cliente){ %>
                                                <input type="text" class="form-control" name="nome_cliente" placeholder="Informe o nome do cliente..." 
                                                value="<%=cliente.Nome%>" charCounter maxlength="155">
                                              <% } else{ %>  
                                                <input type="text" class="form-control" name="nome_cliente" placeholder="Informe o nome do cliente..." 
                                                value="" charCounter maxlength="155">
                                             <% } %>   
                                            
                                        </div>
                                    </div>                       
                                    <div class="col-12 col-md-6">
                                            <div class="form-group"><label>CPF</label>
                                                <% if(cliente){ %>
                                                    <input type="number" class="form-control" name="cpf_cliente" id="cpf_cliente" placeholder="Informe o CPF do cliente..." 
                                                value="<%=cliente.CPF%>" charCounter maxlength="11" readonly>
                                                  <% } else{ %>  
                                                    <input type="number" class="form-control" name="cpf_cliente" id="cpf_cliente" placeholder="Informe o CPF do cliente..." 
                                                value="" charCounter maxlength="11">
                                                 <% } %>   
                                                </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label>Telefone</label>
                                                    <% if(cliente){ %>
                                                        <input type="number" class="form-control" name="tel_cliente" 
                                                        placeholder="Informe o telefone do cliente..." value="<%=cliente.Numero%>" charCounter maxlength="15">    
                                                    <% } else{ %> 
                                                        <input type="number" class="form-control" name="tel_cliente" 
                                                        placeholder="Informe o telefone do cliente..." value="" charCounter maxlength="15">
                                                    <% } %>
                                                    <i class="fas fa-plus-square mu-2"></i>
                                                </div>
                                            </div>
                                    </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button class="btn btn-success ml-2">Pesquisar</button>
                                        <button class="btn btn-primary ml-2">Salvar</button>                                        
                                        <button class="btn ml-2" type="reset">Limpar</button>
                                    </div>
                                </div>
                            </div>
                            </form>

                           <!-- LISTAGEM GERAL DE CLIENTES -->
                           <table class="table mt-5">
                              <thead>
                                 <tr>
                                    <th></th>
                                    <th>CPF</th>
                                    <th>Nome</th>
                                    <th>Telefone(s)</th>                                    
                                    <th>Ações</th>
                                 </tr>
                              </thead>
                              <tbody>
                                    <% clientes.forEach(function(cliente){ %>
                                        <tr>                                            
                                            <td><i class="fas fa-users"></i></td>
                                            <td><%= cliente.CPF %></td>
                                            <td><%= cliente.Nome %></td>
                                            <td><%= cliente.Numero %></td>                                                                                   
                                            <td>
                                                <a href="/clientes/editar/<%=cliente.CPF%>" class="btn btn-sm btn-primary">Editar</a>
                                                <a href="/clientes/remover/<%=cliente.CPF%>" class="btn btn-sm btn-danger">Remover</a>
                                            </td>
                                        </tr>
                                    <% }); %>
                              </tbody>
                           </table>
                        </div>
                </main>

                <!-- FIM DO CONTEUDO DA PAGINA -->
                
                <% include partials/footer.ejs %>
            </div>
        </div>

        <script>
               
                function enviarFormulario() {
                    var cpf = document.getElementById("cpf_cliente").value;
                    if(cpf === undefined || cpf.length <= 0 || cpf.length > 11){
                        cpf.style.backgroundColor = "red";    
                        return false;
                    }

                    return true;
                    // var url = "/clientes/buscarCPF/"+cpf; 
                    // $.get(url).done(function(data){
                    //     alert("retornou resultado"+data);
                    // })
                    
                    // document.contact-form.reset();
                    // document.contact-form.submit();
                }
            </script>
</body>
</html>
