<!doctype html>
<html lang="en">
        <% include partials/header.ejs %>
<body>
        <div id="root"> 
            <div class="app">
                <% include partials/menu.ejs %>
               
                <!--- INICIO DO CONTEUDO DA PAGINA -->
                <main class="content container-fluid">
                        <% if (message != '') { %>
                            <p class="text-center text-danger"><%= message %></p>
                        
                            <% } %>
                        <div class="p-3 mt-3">

                           <!-- FORMULARIO PARA ADD ESTANCIAS -->
                           <form class="add-player-form" action="<%=action%>" method="post">
                            <div class="form">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Nome</label>
                                            <% if(estancia){ %>
                                                <input type="text" class="form-control" name="nome_estancia" placeholder="Informe o nome da estância..." 
                                                value="<%=estancia.Nome_Estancia%>" charCounter" maxlength="155">
                                              <% } else{ %>  
                                                <input type="text" class="form-control" name="nome_estancia" placeholder="Informe o nome do estancia..." value="" charCounter" maxlength="155">
                                             <% } %>   
                                            
                                        </div>
                                    </div>                       
                                    <div class="col-12 col-md-6">
                                            <div class="form-group"><label>CPF Propietário</label>
                                                <% if(estancia){ %>
                                                    <input type="number" class="form-control" name="cpf_propietario" placeholder="Informe o CPF do propietario..." 
                                                value="<%=estancia.CPF_propietario%>" charCounter" maxlength="11">
                                                  <% } else{ %>  
                                                    <input type="number" class="form-control" name="cpf_propietario" placeholder="Informe o CPF do propietario..." 
                                                value="" charCounter" maxlength="11">
                                                 <% } %>   
                                                </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Referência</label>
                                                <% if(estancia){ %>
                                                    <input type="text" class="form-control" name="referencia_estancia" placeholder="Informe a referência do local..." 
                                                    value="<%=estancia.Referencia%>" charCounter" maxlength="155">
                                                  <% } else{ %>  
                                                    <input type="text" class="form-control" name="referencia_estancia" placeholder="Informe a referência do local..." value="" charCounter" maxlength="155">
                                                 <% } %>   
                                                
                                            </div>
                                        </div>               
                                    </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button class="btn btn-success ml-2">Pesquisar</button>
                                        <button class="btn btn-primary ml-2" type="submit" onclick="submitForm()">Salvar</button>                                        
                                        <button class="btn ml-2">Limpar</button>
                                    </div>
                                </div>
                            </div>
                            </form>

                           <!-- LISTAGEM GERAL DE ESTANCIAS -->
                           <table class="table mt-5">
                              <thead>
                                 <tr>
                                    <th></th>
                                    <th>Nome</th>
                                    <th>Referência</th>
                                    <th>Propietário</th>                                    
                                    <th>Ações</th>
                                 </tr>
                              </thead>
                              <tbody>
                                    <% estancias.forEach(function(estancia){ %>
                                        <tr>                                            
                                            <td><i class="fas fa-users"></i></td>
                                            <td><%= estancia.Nome_Estancia %></td> 
                                            <td><%= estancia.Referencia %></td>
                                            <td><%= estancia.CPF_propietario %></td>                                           
                                                                                                                                  
                                            <td>
                                                <a href="/estancia/editar/<%=estancia.CPF_propietario%>" class="btn btn-sm btn-primary">Editar</a>
                                                <a href="/estancia/remover/<%=estancia.CPF_propietario%>" class="btn btn-sm btn-danger">Remover</a>
                                            </td>
                                        </tr>
                                    <% }); %>
                              </tbody>
                           </table>
                        </div>
                     </main>

                <!-- FIM DO CONTEUDO DA PAGINA -->
                
                <% include partials/footer.ejs %>
            </div>
        </div>

        <script>
               
                function submitForm() {
                    document.contact-form.submit();
                    document.contact-form.reset();
                }
            </script>
</body>
</html>
