<!doctype html>
<html lang="en">
        <% include partials/header.ejs %>
<body>
        <div id="root"> 
            <div class="app">
                <% include partials/menu.ejs %>
               
                <!--- INICIO DO CONTEUDO DA PAGINA -->
                <main class="content container-fluid">
                        <% if (message != '') { %>
                            <p class="text-center text-danger"><%= message %></p>
                        
                            <% } %>
                        <div class="p-3 mt-3">

                           <!-- FORMULARIO PARA ADD CLIENTES -->
                           <form class="add-player-form" action="<%=action%>" method="post">
                            <div class="form">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Categoria</label>
                                            <input type="number" class="form-control" name="cat_prod" 
                                            placeholder="Informe a categoria do produto..." 
                                            value="" maxlength="6"></div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Fornecedor</label>
                                            <input type="number" class="form-control" name="fornecedor" 
                                             placeholder="Informe o ID do fornecedor do produto..."
                                             value="" maxlength="6">
                                        </div>
                                    </div>
                                   <div class="col-12 col-md-6">
                                      <div class="form-group">
                                          <label>Código</label>
                                          <input type="number" class="form-control" name="cod_prod" placeholder="Informe o código de barras do produto..." 
                                           value="" required maxlength="6">
                                        </div>
                                   </div>
                                   <div class="col-12 col-md-6">
                                       <div class="form-group">
                                           <label>Nome</label>
                                           <input type="text" class="form-control" name="nome_prod" placeholder="Informe o nome do produto..." 
                                           value="" required maxlength="155"> 
                                        </div>
                                    </div>
                                   <div class="col-12 col-md-6">
                                      <div class="form-group">
                                          <label>Descrição</label>
                                          <input type="text" class="form-control" name="desc_prod" 
                                          placeholder="Descreva o produto..." 
                                          value="" required maxlength="255">
                                        </div>
                                   </div>
                                   <div class="col-12 col-md-6">
                                       <div class="form-group">
                                           <label>Preço</label>
                                           <input type="number" class="form-control" name="preco_prod" 
                                           placeholder="Informe o preço do produto em BRL..." 
                                           value="">
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 col-md-6">
                                       <div class="form-group">
                                           <label>Estoque</label>
                                           <input type="number" class="form-control" name="estoque" 
                                           placeholder="Informe a quantidade em estoque..." 
                                           value="">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                   <div class="col-12 d-flex justify-content-end">
                                       <button class="btn btn-success ml-2">Pesquisar</button>
                                       <button class="btn btn-primary ml-2">Adicionar</button>
                                       <button class="btn btn-danger ml-2">Cancelar</button>
                                   </div>
                                </div>
                             </div>
                            </form>

                           <!-- LISTAGEM GERAL DE CLIENTES -->
                           <table class="table mt-5">
                              <thead>
                                 <tr>
                                    <th></th>
                                    <th>Codigo</th>
                                    <th>Nome</th>
                                    <th>Descrição</th>
                                    <th>Preço</th>
                                    <th>Categoria</th>
                                    <th>Fornecedor</th>
                                    <th>Estoque</th>
                                    <th>Ações</th>
                                 </tr>
                              </thead>
                              <tbody>
                                    <% produtos.forEach(function(produto){ %>
                                        <tr>                                            
                                            <td><i class="fas fa-users"></i></td>
                                            <td><%= produto.Codigo %></td>
                                            <td><%= produto.Nome %></td>                                            
                                            <td><%= produto.Descricao %></td>  
                                            <td><%= produto.Preco %></td>
                                            <td><%= produto.ID_categoria %></td>
                                            <td><%= produto.ID_fornecedor %></td>
                                            <td><%= produto.QTD_Estoque %></td>                                       
                                            <td>
                                                <a href="/produtos/editar/<%=produto.Codigo%>" class="btn btn-sm btn-primary">Editar</a>
                                                <a href="/produtos/remover/<%=produto.Codigo%>" class="btn btn-sm btn-danger">Remover</a>
                                            </td>
                                        </tr>
                                    <% }); %>
                              </tbody>
                           </table>
                        </div>
                     </main>

                <!-- FIM DO CONTEUDO DA PAGINA -->
                
                <% include partials/footer.ejs %>
            </div>
        </div>

        <script>
               
                function submitForm() {
                    document.contact-form.submit();
                    document.contact-form.reset();
                }
            </script>
</body>
</html>
